body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    width: 100vw;
    height: 9vh;
    background-color: dodgerblue;
    color: white;
    padding-top: 25px;
    padding-left: 25px;
    font-size: 1em;
    margin-bottom: 40px;
}

nav a, nav a:visited {
    color: white;
    text-decoration: none;
    padding-right: 25px;
}

#logo {
    padding-right: 35px;
    font-size: 1.4em;
}

.bodyText {
    padding: 0px 135px;
    min-height: 55vh;
    font-size: 18px;
}

.centered {
    text-align: center;
}

#pic {
    margin-bottom: 20px;
}

#times {
    color: grey;
}

#source {
    text-align: center;
    color: grey;
}

hr {
    margin: 25px 0px;
}

.edit_icon {
    margin-left: 15px;
    font-size: 21px;
    color: dodgerblue;
}

a {
    color: dodgerblue;
    text-decoration: none;
}

a:visited {
    color: dodgerblue;
}