 <!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <nav>
      <%- include('partials/nav'); %>
    </nav>
    
    <div class="bodyText">
        <h1>
            About the App
        </h1>
        <p>
            This app is designed to make meal planning and grocery shopping painless. It stores your recipes, allows you to easily add them to a weekly meal planning calender, and then creates a grocery list for you based on what you picked. We have even more interesting additions planned for the future too!
        </p>

        <h1>
            About Us
        </h1>
        <p>
            Logan and Molly are a brother and sister team who set out to re-create and update their father's old recipe book program for their mother. We love you mom! <3 Happy (very late) Mother's Day!
        </p>
    </div>
  </body>
</html>