 <!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
        <nav>
            <%- include('partials/nav'); %>
        </nav>
        <div class="bodyText">
            <h1>
                Under Construction
            </h1>
            <p>
                Sorry, but this page is not currently available. Worry not! We'll have it up soon(ish)!
            </p>
        </div>
  </body>
</html>