 <!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <nav>
      <%- include('partials/nav'); %>
    </nav>
    
    <div class="bodyText">
        <h1>
            Are You Sure?
        </h1>
        <p>
            Once deleted, a recipe cannot be recovered. Would you still like to continue?
        </p>
        [CONFIRM BUTTON] (or something)
    </div>
  </body>
</html>