 <!DOCTYPE html>
<html>
  <head>
      <%- include('partials/head'); %>
  </head>
  <body>
        <nav>
            <%- include('partials/nav'); %>
        </nav>
        <div class="bodyText">
            <h1>
                Hello
            </h1>
            <p>
                Welcome to The Meal and Menu Planner, your one-stop place for all of your menu resources.
            </p>

            <hr>

            <h3>To-Do List</h3>
            <ul>
                <li>
                    Recipe Book
                    <ul>
                        <li>
                            Recipe Book View Page
                            <ul>
                                <li><s>Layout</s></li>
                                <li><s>Test It</s></li>
                                <li><s>Recipe Book Links to Individual Recipe View</s></li>
                                <li><s>Style Links</s></li>
                                <li>Add Edit/<s>Delete</s> Functionality</li>
                                <li>Alphabetical View</li>
                                <li>By Category View</li>
                            </ul>
                        </li>
                        <li>
                            Add Recipe Page
                            <ul>
                                <li><s>Layout</s></li>
                                <li><s>Dynamic Header on Form Page</s></li>
                                <li><s>Dynamic Ingredient/Direction List</s></li>
                                <li>Add Edit/Delete Ingredient/Direction Functionality</li>
                                <li><s>Get Submission Running</s></li>
                                <li>Get it so Submission Pulls Ingredient and Direction List</li>
                                <li>Autocomplete Ingredient Functionality</li>
                                <li>Category Input</li>
                            </ul>
                        </li>
                        <li>
                            Edit/Delete Recipe Functionality
                            <ul>
                                <li><s>Get Edit Pencil and Delete Trashcan Icons</s></li>
                                <li>Add Edit/Delete Links</li>
                            </ul>
                        </li>
                        <li>
                            Individual Recipe View Page
                            <ul>
                                <li><s>Layout</s></li>
                                <li><s>Pull from Database Functionality</s></li>
                                <li>Pull Ingredients and Directions from Database</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    API Integration
                    <ul>
                        <li>Pinterest</li>
                        <li>Groupon?</li>
                    </ul>
                </li>
                <li>
                    Menu Planner
                    <ul>
                        <li><s>Layout</s></li>
                        <li>Get Submit/Save Functionality Running</li>
                        <li>Move Next Week to This Week Functionality</li>
                        <li>Random Recipe Button</li>
                    </ul>
                </li>
                <li>
                    Grocery List Creator
                    <ul>
                        <li>Pull from Menu Plan to Create List</li>
                        <li>
                            Edit List Functionality
                            <ul>
                                <li>Remove Items Not Needed from List</li>
                                <li>Add non-food items to the list</li>
                            </ul>
                        </li>
                        <li>Print List Functionality</li>
                    </ul>
                </li>
            </ul>

            <hr>

            <h3>Development Blog</h3>
            <p>
                <strong>5/19/17</strong>: Progress on the app is underway. We are nearing completion of the recipe book portion of this app and have made good progress on the menu planning section.
            </p>
        </div>
  </body>
</html>