 <!DOCTYPE html>
<html>
  <head>
      <%- include('partials/head'); %>
  </head>
  <body>
        <nav>
            <%- include('partials/nav'); %>
        </nav>
        <div class="bodyText">
            <h1>
                Hello
            </h1>
            <p>
                Welcome to The Meal and Menu Planner, your one-stop place for all of your menu resources.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum dolorem dolorum recusandae vitae libero eius, nulla. Repellendus laborum sapiente et, nihil eligendi eum, rem illo illum, dolore nisi suscipit molestiae. Sint animi perspiciatis quae, eius enim rem quam sequi unde fugiat. Minima explicabo, nobis dicta, et atque quisquam dolorum unde, non magni iure doloremque quam cum adipisci reprehenderit optio labore! Ratione praesentium, voluptate neque quis autem, totam vel natus assumenda porro tenetur ducimus. Voluptas beatae, libero eveniet nobis atque placeat dicta quas autem accusantium numquam repellendus, sequi voluptatibus error optio.
            </p>
        </div>
  </body>
</html>