<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <nav>
      <%- include('partials/nav'); %>
    </nav>
    
    <div class="bodyText">
        <h1>
            Page Title
        </h1>
       

        <table>
          <% for(i=0; i<menu.length; i++){ %>
          <tr>
            <td>
              <%= menu[i].sun1 %>
            </td>
            <td>
              <form method="POST" action="menu/<%= menu[i]._id %>?_method=delete" enctype="application/x-www-form-urlencoded">
                <input type="submit" value="delete">
              </form>
            </td>
          </tr>
          <% } %>
        </table>
    </div>
  </body>
</html>