 <!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
        <nav>
            <%- include('partials/nav'); %>
        </nav>
        <div class="bodyText">
            <div class="centered">
              <h1 id="name">
                Recipe Name
              </h1>
              <h2 id="author">
                by Author
              </h2>
              <div id="pic">
                <img src="https://placehold.it/650x450" alt="Recipe Picture">
              </div>
              <div id="times">
                <span>
                  Prep Time: 0 hr, 0 min
                </span>
                |
                <span>
                  Cook Time: 0 hr, 0 min
                </span>
              </div>
            </div>

            <div id="ingredients">
              <h2>
                Ingredients
              </h2>
              <table>
                <tr>
                  <td>#</td>
                  <td>Unit</td>
                  <td>Ingredient</td>
                  <td>Preparation</td>
                </tr>
                <tr>
                  <td>#</td>
                  <td>Unit</td>
                  <td>Ingredient</td>
                  <td>Preparation</td>
                </tr>
                <tr>
                  <td>#</td>
                  <td>Unit</td>
                  <td>Ingredient</td>
                  <td>Preparation</td>
                </tr>
              </table>
            </div>

            <div id="directions">
              <h2>
                Directions
              </h2>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam enim voluptas quidem reprehenderit aliquam nostrum voluptatibus, minima deserunt incidunt alias, blanditiis ipsa iure beatae cum aliquid magni iusto cumque corporis.</li>
                <li>Eligendi itaque soluta assumenda incidunt provident, corporis ex consequatur vero labore tempore voluptatibus commodi, dolore quis fuga, placeat magni quas vitae explicabo recusandae perspiciatis. Dolor quisquam fugit quod ut fuga?</li>
                <li>Dolor iure fugiat aperiam maiores aut magnam harum dicta facere et? Error mollitia quos corrupti sit quaerat labore cupiditate facilis qui, aut voluptas pariatur quidem? Quas perspiciatis amet incidunt provident.</li>
                <li>Culpa labore alias cum ipsum harum iure ullam laboriosam suscipit, totam at veniam blanditiis quos eligendi officiis aperiam et. Deserunt atque autem error harum maxime iure in laboriosam labore repellat.</li>
                <li>Maxime asperiores impedit, facilis assumenda sed voluptate dolorum, iste ratione eius id repellat sint, quibusdam omnis error aspernatur. Fugiat nulla enim, atque vel. Est nobis, totam distinctio rerum porro eligendi.</li>
                <li>Pariatur est quidem neque praesentium repudiandae perspiciatis corporis, vel, veniam laborum et consequatur commodi molestiae sed deleniti quae, aperiam accusamus eum. Ducimus ratione porro inventore cupiditate eveniet a voluptatum dolores?</li>
              </ul>
            </div>

            <div id="source">
              Source: <span id="url">http://fakey-fake.com/not_a_real_page/stuff</span>
            </div>
          </div>
        </div>
  </body>
</html>