<a href="\" id="logo">TMMP</a>
<a href="\recipe_book">Recipe Book</a>
<a href="\add_recipe">Add a Recipe</a>
<a href="\coming_soon">Menu Planner</a>
<a href="\coming_soon">Grocery List</a>
<a href="\coming_soon">About</a>